img {
    /* max-width: 469px; */
    width: 100%;
    height: 100%;
}

.films__overview {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
}

.films__overview--active {
    max-height: none;
    overflow: auto;
    transition: max-height 0.3s;
}